.status-false {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  float: left;
  display: block;
}

.status-true {
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  float: left;
  display: block;
}
