<!--
<div class="inputs">
  <p [innerHTML]="title"></p>
  <input type="text" [value]="name" (input)="handleChange($event)" />
  {{ name }}
  <input
    type="text"
    [ngModel]="nameNg"
    (ngModelChange)="handleChange2($event)"
  />
  {{ nameNg }}
  <input type="text" [(ngModel)]="nameTwoWay" />
  {{ nameTwoWay }}
</div>
<div>
  <button (click)="handleClick(username.value)">Get value</button>
  <input type="text" #username />
</div>

<div>
  <div *ngIf="name.length > 5">my name is {{ name }}</div>
  <ng-template [ngIf]="name.length > 6"> my name is {{ name }} </ng-template>
</div>




<div>
  <ul>
    <li *ngFor="let person of array; let i = index">
      <span class="status-false" [ngClass.status-true]="person.checked"></span>
      {{ person.id + " " + person.name + " " + person.surname }}
    </li>
  </ul>
  <ul>
    <li *ngFor="let person of array; let i = index">
      <span
        [ngClass]="{
            'status-true': person.checked,
            'status-false': !person.checked,
          }"
      ></span>
      {{ person.id + " " + person.name + " " + person.surname }}
    </li>
  </ul>
</div>


<div>
  <ul>
    <li *ngFor="let person of array; let i = index">
      <span
        class="status-false"
        [style.backgroundColor]="person.checked ? 'green' : 'red'"
      ></span>
      {{ person.id + " " + person.name + " " + person.surname }}
      <p>
        {{ person | json }}
      </p>
    </li>
  </ul>
</div>
<div>
  <ul>
    <li *ngFor="let person of array; let i = index">
      <span
        class="status-false"
        [ngStyle]="{ backgroundColor: person.checked ? 'green' : 'red' }"
      ></span>
      {{ person.id + " " + person.name + " " + person.surname }}
      <p>
        Check in date:
        {{
          person.checkedInDate
            ? (person.checkedInDate | date: "yMMMMd" | uppercase)
            : "Not checked"
        }}
      </p>
      <div class="children">Children: {{ person.children?.length || 0 }}</div>
    </li>
  </ul>
</div>
-->

<person-dashboard></person-dashboard>
<a [routerLink]="['/seznam']">Link</a>
<router-outlet></router-outlet>
